/*
 * Consumer Data Standards
 *
 * API sets created by the Australian Consumer Data Standards to meet the needs of the Consumer Data Right
 *
 * OpenAPI spec version: 1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Http;
using Microsoft.AspNetCore.Mvc;
using Microsoft.AspNetCore.WebUtilities;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Primitives;
using Swashbuckle.AspNetCore.SwaggerGen;
using Newtonsoft.Json;
using System.ComponentModel.DataAnnotations;
using OpenBanking.Attributes;
using OpenBanking.Models;

namespace OpenBanking.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class CustomerApiController : Controller
    { 
        /// <summary>
        /// Get Customer
        /// </summary>
        /// <remarks>Obtain basic information on the customer that has authorised the current session</remarks>
        /// <response code="200">Success</response>
        [HttpGet]
        [Route("/cds-au/v1/common/customer")]
        [ValidateModelState]
        [SwaggerOperation("GetCustomer")]
        [SwaggerResponse(statusCode: 200, type: typeof(ResponseCommonCustomer), description: "Success")]
        public virtual IActionResult GetCustomer()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(ResponseCommonCustomer));

            string exampleJson = null;
            exampleJson = "{\r\n  \"data\" : {\r\n    \"person\" : {\r\n      \"middleNames\" : [ \"middleNames\", \"middleNames\" ],\r\n      \"firstName\" : \"firstName\",\r\n      \"lastName\" : \"lastName\",\r\n      \"occupationCode\" : \"occupationCode\",\r\n      \"prefix\" : \"prefix\",\r\n      \"suffix\" : \"suffix\",\r\n      \"lastUpdateTime\" : \"lastUpdateTime\"\r\n    },\r\n    \"organisation\" : {\r\n      \"agentRole\" : \"agentRole\",\r\n      \"agentLastName\" : \"agentLastName\",\r\n      \"establishmentDate\" : \"establishmentDate\",\r\n      \"businessName\" : \"businessName\",\r\n      \"registeredCountry\" : \"registeredCountry\",\r\n      \"abn\" : \"abn\",\r\n      \"acn\" : \"acn\",\r\n      \"industryCode\" : \"industryCode\",\r\n      \"organisationType\" : \"SOLE_TRADER\",\r\n      \"legalName\" : \"legalName\",\r\n      \"isACNCRegistered\" : true,\r\n      \"agentFirstName\" : \"agentFirstName\",\r\n      \"shortName\" : \"shortName\",\r\n      \"lastUpdateTime\" : \"lastUpdateTime\"\r\n    },\r\n    \"customerUType\" : \"person\"\r\n  },\r\n  \"meta\" : { },\r\n  \"links\" : {\r\n    \"self\" : \"self\"\r\n  }\r\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<ResponseCommonCustomer>(exampleJson)
            : default(ResponseCommonCustomer);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        /// Get Customer Detail
        /// </summary>
        /// <remarks>Obtain detailed information on the authorised customer within the current session.</remarks>
        /// <response code="200">Success</response>
        [HttpGet]
        [Route("/cds-au/v1/common/customer/detail")]
        [ValidateModelState]
        [SwaggerOperation("GetCustomerDetail")]
        [SwaggerResponse(statusCode: 200, type: typeof(ResponseCommonCustomerDetailed), description: "Success")]
        public virtual IActionResult GetCustomerDetail()
        { 
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(ResponseCommonCustomerDetailed));

            string exampleJson = null;
            exampleJson = "{\r\n  \"data\" : {\r\n    \"person\" : \"\",\r\n    \"organisation\" : \"\",\r\n    \"customerUType\" : \"person\"\r\n  },\r\n  \"meta\" : { },\r\n  \"links\" : {\r\n    \"self\" : \"self\"\r\n  }\r\n}";
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<ResponseCommonCustomerDetailed>(exampleJson)
            : default(ResponseCommonCustomerDetailed);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}
